<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <link href="/static/css/blog.css" type="text/css" rel="stylesheet"/>
    <link href="/static/css/post.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper" class="item">
    <form id="form" action="/article/save/{{.action}}" method="POST">
        <lable></lable>
        <div class="post"><input class="textBox" type="text" name="title" placeholder="Title"></div>
        <lable></lable>
        <div class="post"><textarea class="textBox" name="content" rows="20" cols="80" data-provide="markdown" placeholder="content"></textarea></div>
        <lable></lable>
        <div class="post"><input class="textBox" type="text" name="keywords" placeholder="keywords for seo"></div>
        <lable></lable>
        <div class="post"><input class="textBox" type="text" name="description" placeholder="description for seo"></div>
        <lable></lable>
        <div class="post"><input class="textBox" type="text" name="tag" placeholder="tag"></div>
        <lable></lable>
        <div class="post">
            语言
            <select name="lang">
                <option value="Java" selected>Java</option>
                <option value="Go">Go</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C/C++">C/C++</option>
                <option value="Log">Log</option>
            </select>
        </div>
        <lable></lable>
        <div class="post">
            可见性
            <select name="status">
                <option value="0" selected>公开</option>
                <option value="1">不公开</option>
            </select>
        </div>
        <div class="post"><input class="btn" type="submit" value="Save"></div>
    </form>
</div>

<script src="/static/plugins/jquery.min.js" type="text/javascript" language="JavaScript" charset="UTF-8"></script>
<script src="/static/plugins/thinkermd/js/thinker-md.vendor.min.js" type="text/javascript" language="JavaScript" charset="UTF-8"></script>
</body>
</html>
<script type="text/javascript" language="JavaScript">
    $("textarea[data-provide='markdown']").markdown({
        language: "zh",
        fullscreen: {
            enable: true
        },
        resize: "vertical",
        localStorage: "md",
        imghost:"http://img.testdomain.com/",
        imgurl: "/upload?timestamp=123456&nonce=123456&token=w8ARe4rISz8d3UdjSM9k&md=true",
        base64url: "/uploadBase64"
    });
</script>