<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{.description}}">
    <meta name="keywords" content="{{.keywords}}">
    <meta name="author" content="">

    <title>{{.title}}</title>

    <link href="/static/css/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/static/css/blog.css" type="text/css" rel="stylesheet"/>

</head>
<body>
<div style="display:none;" id="vars" data-net="1" data-token="{{.token}}" data-time="{{.timestamp}}"></div>

<!-- Blog master nav -->
<header class="header">

</header>

<!-- Blog master toolbar -->
<div class="toolbar toolbar-default">

    <div class="toolbar-left">
        <a href="/articles">BLOG</a>
    </div>

    <div class="toolbar-title">

    </div>

    <div class="toolbar-right">
        <a href="#" class="settings-btn">:&nbsp;&nbsp;</a>
    </div>

</div>

<!-- Blog master menu -->
<div class="menu-btn">M</div>
<div class="menu-model hide"></div>
<div class="menu-view closed">
    <div class="toolbar">Menu</div>
</div>

<!-- Blog page layout -->
<div class="bs-docs-header">
    <div class="container">
        <h1>BLOG</h1>
        <p>blog</p>
    </div>
</div>

<div id="wrapper">
    <div class="item">
        <div class="post-meta">
            <span>Posted on {{.item.Timestamp}} by admin</span>
            <br/>
            <label class="label label-info">{{.lang}}</label>
            <label class="label label-info">{{.type}}</label>
        </div>
        <div id="content" class="content">
            <span>
                <textarea id="result" style="display: none">{{.item.Content}}</textarea>
            </span>
        </div>
    </div>
</div>

<footer class="footer">

</footer>

<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/plugins/jquery.min.js" type="text/javascript"></script>
<!-- prettify -->
<script src="/static/plugins/prettify/prettify.js" type="text/javascript"></script>
<link href="/static/plugins/prettify/blog.prettify.css" type="text/css" rel="stylesheet"/>
<!-- marked -->
<script src="/static/plugins/marked/marked.js" type="text/javascript"></script>

</body>
</html>
<script type="text/javascript">
    var tmp = marked($("#result").val());
    console.log(tmp);
    $("#content").html(tmp);

    $(document).ready(function () {
        $("pre").addClass("prettyprint linenums:0");
        prettyPrint();
    });

    $(".menu-btn").click(function() {
        if ($(".menu-view").hasClass("closed") && $(".menu-model").hasClass("hide")) {
            $(".menu-view").removeClass("closed").addClass("opened");
            $(".menu-model").removeClass("hide").addClass("show");
        } else {
            $(".menu-view").removeClass("opened").addClass("closed");
            $(".menu-model").removeClass("show").addClass("hide");
        }
    });
    $(".menu-model").click(function() {
        if ($(".menu-view").hasClass("closed") && $(".menu-model").hasClass("hide")) {
            $(".menu-view").removeClass("closed").addClass("opened");
            $(".menu-model").removeClass("hide").addClass("show");
        } else {
            $(".menu-view").removeClass("opened").addClass("closed");
            $(".menu-model").removeClass("show").addClass("hide");
        }
    });
</script>
