@CHARSET "UTF-8";
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    word-wrap: break-word;
}
.label-danger {
    background-color: #d9534f;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-info {
    background-color: #5bc0de;
}
.label-success {
    background-color: #5cb85c;
}
.label-primary {
    background-color: #337ab7;
}
.label-default {
    background-color: #777;
}

header {

}

footer {
    text-align: center;
    padding: 20px 0;
}

.copyright {
}
